version: '3.8'
services:
  app:
    image: ghcr.io/lyttle-development/lyttlenginx:main
    environment:
      DATABASE_URL: postgresql://user:pass@host:port/db
      ADMIN_EMAIL: admin@example.com

    # USE
    network_mode: host
    # OR
    ports:
      - 80:80
      - 443:443
      - 3003:3000
    # NOT BOTH

    healthcheck:
      test: [ "CMD-SHELL", "/healthcheck.sh" ]
      interval: 15s
      timeout: 5s
      retries: 3
      start_period: 45s

